repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        exclude: ^\.vscode\/.*$
      - id: check-yaml
      - id: check-merge-conflict
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
  - repo: https://github.com/hhatto/autopep8
    rev: 'v2.0.4'
    hooks:
    - id: autopep8
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
ci:
  autoupdate_branch: 'development'
